// Block__Element--Modifier
@import '../utilities.scss';

$blockColor: #6b717f;

.Input {
  background-color: lightblue;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  grid-area: Input;

  @include bp-tablet {
    margin-bottom: 0;
  }

  @include bp-desktop {
    flex: 1;
  }
}

.Input__Field {
  width: 100%;
  padding: .25rem .5rem;
  box-sizing: border-box;
}

.Multiplier {
  background-color: red;
  height: 18.75rem;
  overflow-y: auto;
  margin-bottom: 2rem;
  grid-area: Multiplier;

  @include bp-tablet {
    margin-bottom: 0;
    height: auto;
  }
  
  @include bp-desktop {
    order: 1;
    flex: 1;
  }
}

.Multiplier__Main {
  padding: 1.5rem 1rem;
}

.Multiplier__Block {
  text-align: center;
  padding: .25rem;
  margin-bottom: .25rem;
  background-color: $blockColor;
  
  &:last-child {
    margin-bottom: 0;  
  }
}

.Multiplier__Block--odd {
  background-color: lighten($blockColor, 20%);
}

.Computed {
  padding: 1.5rem 1rem;
  background-color: green;
  text-align: center;
  height: 10rem;
  line-height: 10rem;
  font-size: 10rem;
  grid-area: Computed;
  
  @include bp-tablet {
    height: auto;
    flex: 1;
  }

  @include bp-desktop {
    flex: 2;
  }
}