// Block__Element--Modifier
@import './utilities.scss';

.App {
  min-width: 20rem;
  @include bp-tablet {
    min-height: 48rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}