// Block__Element--Modifier
@import '../utilities.scss';

.Header, 
.Footer {
  background-color: $color-grey;
  box-sizing: border-box;
  color: $color-dark-grey;
  height: $header-height;
  padding: 1rem;
  z-index: 10;
}

.Header {
  border-bottom: .125rem solid $color-border;
  left:0;
  position: fixed;
  right: 0;
  top: 0;
}

.Footer {
  border-top: .125rem solid $color-border;
}

.Header__Title,
.Footer__Title  {
  margin: 0;
}

.Header__Title--mobile, 
.Footer__Title--mobile  {
  @include bp-tablet {
    display: none;
  }
}

.Header__Title--desktop, 
.Footer__Title--desktop  {
  display: none;

  @include bp-tablet {
    display: block;
  }
}

.Body {
  padding: ($header-height + 1rem) 1rem 1rem 1rem;
  flex: 1;
  
  @include bp-tablet {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'Input Input Computed Computed'
    'Multiplier Multiplier Computed Computed';
  }
  
  @include bp-desktop {
    grid-template-areas:
      'Input Computed Computed Multiplier';
    grid-template-rows: 1fr;
  }
}