// Block__Element--Modifier
@import '../utilities.scss';

.Header {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  background-color: grey;
  padding: 1rem;
  height: $header-height;
  box-sizing: border-box;
}

.Body {
  padding: ($header-height + 1rem) 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;

  @include bp-tablet {
    flex-direction: row;
    flex: 1;
  }
}

.Footer {
  background-color: grey;
  height: 8rem;
  padding: 2rem 1rem;
}